// Define variables for your color scheme

// For example:
$blue:   #007bff;
$red:    #dc3545;
$yellow: #ffc107;
$orange: #fd7e14;
$white:  #fff;

$purple: #714288;
$light-purple: #9873B9;
$extra-light-purple: #CAABD8;
$tannish-pink: #FFCCCC;
$green: #10B981; // emerald-500
$light-green: #ECFDF5;
$gray: #0E0000;
$light-gray: #F4F4F4;
