<turbo-stream action="remove" target="expertise_<%= @expertise.id %>"></turbo-stream>

<turbo-stream action="update" target="flash">
  <template>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      Expertise was successfully deleted.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </template>
</turbo-stream>
