<div id="<%= dom_id(chat) %>" class="chat">
  <%= turbo_stream_from dom_id(chat) %>

  <p class="user-question"><%= chat.user_question %></p>
  <p class="ai-answer"><%= chat.ai_answer || "..." %></p>
</div>
