<div class="chat-input-bar mt-3">
  <%= simple_form_for [@study, chat], html: { class: "d-flex align-items-center gap-2" } do |f| %>
    <%= f.input :user_question, label: false, placeholder: "Type your question...", input_html: { class: "form-control chat-input", autocomplete: "off", style: "flex: 1;" } %>

    <% unless current_user.tutor? %>
      <%= f.input :prompt, as: :boolean, label: "Send to Sparky?" %>
    <% end %>

    <%= f.button :submit, "Ask", class: "btn btn-purple chat-submit-btn" %>
  <% end %>
</div>
