<!-- _material_info.html.erb -->
<div class="subject-card p-3 mb-3 position-relative">
  <div id="material-info-content">
    <div class="fw-bold fs-5 mb-1"><%= material.name %></div>
    <% if material.description.present? %>
      <p class="mb-2 text-base"><%= material.description %></p>
    <% end %>
  </div>
  <div class="spinner-overlay d-none" id="material-upload-spinner">
    <div class="d-flex flex-column align-items-center justify-content-center w-100 h-100">
      <div class="spinner-border text-purple" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-message spinner-purple">Processing your material...</div>
    </div>
  </div>
</div>