<h1>My Subjects</h1>

<div class="cards">
  <% @subjects.each do |subject| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= subject.name %></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Grade level: <%= subject.grade_level %></h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">Next Session Date: </h6>
        <p class="card-text">Name of tutor and list of materials availalbe in subject</p>
        <a href="#" class="card-link">Link to show page</a>
      </div>
      </div>
    </div>
  <% end %>
</div>

<p>There will be a link to browse all tutors (tutors index)</p>
