<h1>Browse all subjects</h1>

<p>**add filters to filter by grade level and subjet**</p>
<a href="#" class="card-link">Browse all all tutors </a>

<div class="container my-4">
  <div class="row">
    <% @subjects.each do |subject| %>
      <div class="col-md-4 mb-4 d-flex align-items-stretch">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title"><%= subject.name %></h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Grade level: <%= subject.grade_level %></h6>
            <p>Short description about the subject</p>
            <a href="#" class="card-link">Add to Dashboard</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
